#h11{
    font-size: 48px;
}
#h12{
    font-size: 3rem;
}
#h2{
    font-family:'Courier New', Courier, monospace;
}
#h22{
    font-family:cursive;
}
#h23{
    font-family:monospace;
}
#h24{
    font-family:serif;
}
#h25{
    font-family:sans-serif;
}
#h26{
    font-family:fantasy;
}
#h27{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}